{{#userName}}
    {{userName}} is currently logged in.
{{/userName}}

{{^userName}}
<form action="/login" method="post">
    <div>
        <input type="text" name="userName"/>
        <button type="submit">Login</button>
    </div>
</form>
{{/userName}}

{{#userName}}
    <form action="/add-message" method="post">
        <div>
            <input type="text" placeholder="Write a message" name="add-message"/>
            <button type="submit">Submit</button>
        </div>
    </form>
    <form action="/delete-message" method="get">
        <div>
            <input type="text" placeholder="message #" name="delete-message"/>
            <button type="submit">Delete</button>
        </div>
    </form>
    <form action="/edit-message" method="get">
        <div>
            <input type="text" placeholder="message #" name="edit-message#"/>
            <input type="text" placeholder="Edit message" name="edit-messageText"/>
            <button type="submit">Edit</button>
        </div>
    </form>
    <form>
        {{userName}}'s Messages:
        {{#messages}}
            {{.}}
        {{/messages}}
    </form>
{{/userName}}
